<div class="container">
    <div class="card shadow">
        <div class="row">
            <div class="col-6">
                <img src="assets/fleurlogin.jpg" alt="img?">
            </div>
            <div class="col-6" id="login">
                <div class="row">
                    <div class="col-3">
                        <h2 class="text-left">Login</h2>
                    </div>

                    <div class="col-6">
                        <a href="https://www.facebook.com/votrepage" target="_blank" rel="noopener"><i
                                class="fab fa-facebook-square"></i></a>
                        <a href="https://www.instagram.com/votrecompte" target="_blank" rel="noopener"><i
                                class="fab fa-instagram"></i></a>
                    </div>
                </div>
                <form>
                    <div class="form-group ">
                        <label for="email">Email</label>
                        <input type="email" [(ngModel)]="user.email" name="email" class="form-control " id="email" placeholder="Email " required>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" [(ngModel)]="user.password" name="password" class="form-control" id="password" placeholder="password" required>
                    </div>


                    <button type="submit" (click)="login()" class="btn btn-dark">Login</button>
                    <div class="row">
                        <div class="col-4">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    Remember Me
                                </label>
                            </div>
                        </div>
                        <div class="col-6">
                            <a href="#">
                                <h3>Forgot Password</h3>
                            </a>
                        </div>

                    </div>
                    <div class="row">
                        <label for="membre" class="text-center" style="font-size: 150%;color:gray;margin-top:auto;margin-left:20%;">
                            Not a Member?
                            <a href="/sign-up" style="font-size: 100%;margin-right:60%;margin-top:auto;color:#558257;margin-left:1%;">Sign up</a>
                        </label>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>
</div>